*~
elpa
eshell
server
*.DS_Store#
/#init.el#
/.mc-lists.el
/init.log
/network-security.data
/recentf
/texput.log
/config/#config-go.el#
/bookmarks
**/anaconda-mode/
/ac-comphist.dat
/request/curl-cookie-jar
/projectile-bookmarks.eld
/.cask/*
/projectile.cache
/.python-environments/
